<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/forgot.css">
</head>
<body>
    <div id="main">
        <div id="container">
            <div id="icon">
                <i class="ri-key-2-line"></i>
            </div>
            <h1>Forgot password?</h1>
            <!-- <p>No Worries, we'll send you reset instructions</p> -->
            <p>The verification email will be sent to the mailbox. Please check it.</p>
            <form action="/forgot" method="post">
                <label for="">Email</label>
                <input type="email" name="email" placeholder="enter your email">
                <input type="submit" value="Reset password">
                <a href="/login"><i class="ri-arrow-left-line"></i> Back to login</a>
            </form>
        </div>
    </div>
</body>
</html>