<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/register.css">
</head>
<body>
    <div id="main">
        <div id="left">
            <div id="img">
                <img src="../images/YouTube-logo__1_-removebg-preview.png" alt="">
            </div>
        </div>
        <div id="right">
            <h2>Register</h2>
            <h4>Manage all your lottery efficiently</h4>
            <p>Let's you all set up so you can verify your personal account and brgin <br>setting up your profile.</p>
            <form action="/register" method="post" enctype="multipart/form-data">
                <div class="input">
                    <label for="">First Name*</label>
                    <input name="fname" type="text">
                </div>
                <div class="input">
                    <label for="">Last Name</label>
                    <input name="lname" type="text">
                </div>
                <div class="input">
                    <label for="">Mobile Number*</label>
                    <input name="contact" type="text">
                </div>
                <div class="input">
                    <label style="margin-left: 1px;" for="select">Image*</label>
                    <input style="margin-left: -5px; cursor:pointer;" type="file" name="profilePic">
                </div>
                <div class="input">
                    <label for="">Email*</label>
                    <input name="email" type="email">
                </div>
                <div class="input">
                    <label for="">New Password*</label>
                    <input name="password" type="password">
                </div>
                <div id="checkbox">
                    <input id="check" type="checkbox" name="check" value="form">
                    <label style="margin-bottom: 20px; margin-left:20px;" for="checkbox">Yes, I want to recieve Lottery Display Emails</label>
                </div>
                <div id="checkbox" style="margin-top: -25px;">
                    <input id="check" type="checkbox" name="check" value="form">
                    <label style="margin-bottom: 20px; margin-left:20px;" for="checkbox">Yes, I agree to all The <a href="">Terms</a> and <a href="">Privacy Policy</a></label>
                </div>
                <input id="submit-btn" type="submit" value="Create Account">
                <div id="signup">Already have an account? <a href="/login">Sign in</a></div>
                <a href="/login/federated/google" id="googleAuth">
                    <div id="img">
                        <i class="ri-google-fill"></i>
                    </div>
                    <h3>Login to google</h3>
                </a>
            </form>
        </div>
    </div>
</body>
</html>