*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
#left{
  position: relative;
  width: 50%;
  height: 100%;
  background:linear-gradient(rgb(16, 100, 255),rgb(0, 0, 97));
}
#amazon-logo{
  position: absolute;
  width: 19%;
  height: 7%;
  top: 1%;
  left: 2%;
  display: flex;
  opacity: .8;
  /* background-color: #fff; */
}
#amazon-logo img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#amazon-logo p{
  font-family: "Aeonik";
  /* color: white; */
  font-size: 18px;
  color: rgb(255, 185, 116);
  font-weight: 500;
  margin-top: 14px;
  margin-left: -18px;
}
#left #dp{
  border: 5px solid rgb(145, 145, 253);
  position: relative;
  left: 42%;
  top: 7%;
  width: 18%;
  height: 18%;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}
#left #dp img{
  width: 100%;
  height: 99%;
  object-fit: cover;
  margin-top: 0.5px;
  object-position: center;
}
#left h1{
  position: relative;
  font-family: "Aeonik";
  font-size: 30px;
  font-weight: 400;
  margin-top: 8%;
  margin-left: 38%;
  opacity: .9;
  color: white;
  letter-spacing: 1px;
}
/* form input[type="email"]:focus {
  box-shadow: 0px 0px 5px 0px #e7951b;
  border-color: #e7951b;
  outline: none;
  border: 0.7px solid rgba(42, 134, 232, 0.687);
}
form input[type="password"]:focus {
  box-shadow: 0px 0px 5px 0px #e7951b;
  border-color: #e7951b;
  outline: none;
  border: 0.7px solid rgba(42, 134, 232, 0.687);
} */
#left form{
  font-family: "Aeonik";
  position: relative;
  width: 47%;
  height: 36%;
  top: 28%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}
#left form #email-input{
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 2px solid white;
  margin-top: 10px;
  /* background-color: red; */
}
#left form #password-input{
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 2px solid white;
  /* background-color: red; */
}
label{
  display: flex;
  align-items: center;
  justify-content: center;
}
label i{
  font-size: 30px;
  color: #fff;
}
input{
  /* border: 0.2px solid rgba(0, 0, 0, 0.331); */
  padding: 8px 5px;
  position: relative;
  border-radius: 5px;
  font-size: 25px;
  width: 85%;
  background: none;
  border: none;
  color: white;
  outline: none;
  margin-left: 5px;
  font-family: "Aeonik";
  font-weight: 200;
}
::placeholder {
  color: rgba(255, 255, 255, 0.895);
}
#confirmation{
  position: relative;
  width: 90%;
  height: 40px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}
#checkbox{
  display: flex;
  position: relative;
  width: 45%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  /* background-color: red; */
  padding-right: 10px;
}
#check{
  position: relative;
  width: 15px;
  height: 15px;
  color: #fff;
  margin-left: -1px;
}
#checkbox label{
  font-size: 17px;
  color: rgba(255, 255, 255, 0.658);
}
#confirmation a{
  text-decoration: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.658);
}
#confirmation a:hover{
  text-decoration: underline;
  /* color: white; */
  color: tomato;
}
#submit-btn{
  position: relative;
  background-color: rgba(255, 255, 255, 0.112);
  border: none; 
  width: 35%;
  height: 50px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.927);
  border-radius: 5px;
  letter-spacing: 2px;
  /* margin-top: 15px; */
}
#google-link{
  position: relative;
  background-color: #fff;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  border: 1px solid black;
  font-family: "Aeonik";
  padding: 9px 139px;
  left: 25%;
  top: 12%;
  text-decoration: none;
  font-weight: 500;   
}
#signup-link{
  position: relative;
  top: 10%;
  left: 35%;
  font-family:"Aeonik";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.788);
}
#signup-link a{
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.788);
}
#signup-link a:hover{
  text-decoration: underline;
  /* color: #fff; */
  color: tomato;
}
#right{
  position: relative;
  width: 50%;
  background-color: rgba(236, 236, 236, 0.669);
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1559056961-1f4dbbf9d36a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-size: cover;
  background-position: bottom;
}
#right #circle1{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 29%;
  height: 30%;
  border-radius: 50%;
  background-color: rgb(121, 3, 172); 
}
#right #circle2{
  position: relative;
  top: -25%;
  left: -25%;
  width: 150%;
  height:150%;
  background: none;
  border-radius: 50%;
  overflow: hidden;   
}
#right #circle3{
  position: relative;
  top: 45%;
  width: 100%;
  height: 65%;
  background-color: rgba(236, 236, 236, 0.516);
  /* background-color: rgba(243, 243, 243, 0.516); */
  backdrop-filter: blur(15px);
  fill-opacity: .1;
  box-shadow: 50px 50px 50px 0px rgba(236, 236, 236, 0.516);
}